.australia {
    background-image: linear-gradient(rgba($siteBlack, 0.45), rgba($siteBlack, 0.45)), url(../images/australia/australia-hero.jpg);
}
.canada {
    background-image: linear-gradient(rgba($siteBlack, 0.45), rgba($siteBlack, 0.45)), url(../images/canada/canada-hero.jpg);
}
.egypt {
    background-image: linear-gradient(rgba($siteBlack, 0.45), rgba($siteBlack, 0.45)), url(../images/egypt/egypt-hero.jpg);
}
.france {
    background-image: linear-gradient(rgba($siteBlack, 0.45), rgba($siteBlack, 0.45)), url(../images/france/france-hero.jpg);
}
.israel {
    background-image: linear-gradient(rgba($siteBlack, 0.45), rgba($siteBlack, 0.45)), url(../images/israel/israel-hero.jpg);
}
.japan {
    background-image: linear-gradient(rgba($siteBlack, 0.45), rgba($siteBlack, 0.45)), url(../images/japan/japan-hero.jpg);
}
.newZealand {
    background-image: linear-gradient(rgba($siteBlack, 0.45), rgba($siteBlack, 0.45)), url(../images/newZealand/newZealand-hero.jpg);
}
.unitedArabEmirates {
    background-image: linear-gradient(rgba($siteBlack, 0.45), rgba($siteBlack, 0.45)), url(../images/unitedArabEmirates/unitedArabEmirates-hero.jpg);
}
.unitedStatesOfAmerica {
    background-image: linear-gradient(rgba($siteBlack, 0.45), rgba($siteBlack, 0.45)), url(../images/unitedStatesOfAmerica/unitedStatesOfAmerica-hero.jpg);
}