$siteWidth: 980px;
$siteBlue: #79ADDC;
$siteWhite: #FFFFFF;
$siteBlack: #000000;
$siteOrange: #FF7D38;
$headerFooterWidth: 1280px;
$headerHeight: 500px;
$footerHeight: 100px;

@font-face{
    font-family: GillSans;
    src: url(GillSans.ttc);
}
@font-face{
    font-family: ProximaNovaSC;
    src: url(ProximaNovaScOsfExtraCondensed.ttf);
}